<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-teal">
          {{ user.username || ' Profile Detail' }}
          <div class="pull-right">
              <button type="button" tooltip="Edit Record" (click)="goToEdit(user)" class="btn btn-pill btn-sm btn-warning" ><i class="fa fa-edit"></i></button>
          </div>
        </div>
        <div class="container">
          <div class="row">

            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Type</h6>
                <br>
                <h6>{{ user.type || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Email</h6>
                <br>
                <h6>{{ user.email || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Phone</h6>
                <br>
                <h6>{{ user.phone || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- </div> -->

</div>
