<div class="panel-header panel-header-sm">
  </div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
<!--            <button class="btn btn-primary"> <i class="now-ui-icons ui-2_settings-90"></i> Edit Record </button>-->
            <button class="btn btn-info pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-teal">
          <strong>{{ page || "Add Record" }}</strong>
        </div>
        <div class="card-body"></div>
        <div class="row">
          <div *ngIf="error">
              {{ error.message }}
            </div>
            <div *ngIf="uploadResponse.status === 'error'">
              {{ uploadResponse.message }}
            </div>
            <div *ngIf="uploadResponse.status === 'progress'">
              <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{uploadResponse.message}}%
              </div>

            </div>
          </div>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">


            <div class="animated fadeIn">

          <div class="row justify-content-center">
            <div class="col-sm-10">
                  <div class="row">
                      <div class="form-group col-sm-6">
                        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Image name" required>
                      </div>
                      <div class="form-group col-sm-6">
                        <input type="file" class="" formControlName="image" id="image" (change)="onFileChanged($event)" required>
                      </div>
                  </div>

                   <div class="row">
                      <div class="form-group col-sm-12  text-center">
                      <button class="btn btn-danger" (click)="reset()">Reset</button>
                      &nbsp; <button class="btn btn-primary" (click)="onSubmit()" [disabled]="addForm.pristine || loading">Submit</button>
                      </div>
                    </div>
            </div>
            <!--/.row-12-->

          </div>

      </div>
      </form>
    </div>


  </div>
</div>
</div>

