<div class="panel-header panel-header-sm">
  </div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
<!--            <button class="btn btn-primary"> <i class="now-ui-icons ui-2_settings-90"></i> Edit Record </button>-->
            <button class="btn btn-info pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-teal">
          <strong>Edit Setting</strong>
          <div class="pull-right">
            <button class="btn btn-sm btn-pill btn-info" (click)="goBack()"><i class="fa fa-windows"></i></button>
          </div>
        </div>
        <div class="card-body"></div>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">


            <div class="animated fadeIn">

          <div class="row justify-content-center">
            <div class="col-sm-10">
                  <div class="row">
                      <div class="form-group col-md-6">
                        <label for="">Name: </label>
                        <input type="text" class="form-control btn-square" id="name" name="name" formControlName="name" >
                      </div>
                      <div class="form-group col-md-6">
                        <label for="">Category:</label>
                        <input type="text" class="form-control btn-square" id="category" name="category" formControlName="category" >
                      </div>
                      <div class="form-group col-md-12">
                        <label for="">Value* :</label>
                        <input type="text" class="form-control btn-square" id="value" name="value" formControlName="value">
                      </div>
                      <div class="form-group col-md-12">
                        <label for="">Description</label>
                        <input type="text" class="form-control btn-square" id="description"  name="description" formControlName="description">
                      </div>
                  </div>

                   <div class="row">
                      <div class="form-group col-sm-12  text-center">
                      <button class="btn btn-danger" (click)="reset()">Reset</button>
                      &nbsp; <button class="btn btn-primary" (click)="onSubmit()" [disabled]="addForm.invalid || loading">Save Setting</button>
                      </div>
                    </div>
            </div>
            <!--/.row-12-->

          </div>

      </div>
      </form>
    </div>


  </div>
</div>
</div>

