<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-teal">
          <strong>{{ record.name || ' Nutrient Detail' }}</strong>
          <div class="pull-right">
            <button class="btn btn-sm btn-pill btn-warning" (click)="goToEdit(record)"> <i class="fa fa-edit"></i></button>
            &nbsp; <button class="btn btn-sm btn-pill btn-info" (click)="goBack()"><i class="fa fa-windows"></i></button>
          </div>
        </div>
        <div class="container">



            <div class="row">
                <div class="col-sm-3">
                  <div class="callout callout-success">
                    <h6 class="text-muted">Name</h6>
                    <br>
                    <h6>{{ record.name }} {{ record.symbol }}</h6>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="callout callout-success">
                      <h6 class="text-muted">Type</h6>
                      <br>
                      <h6>{{ record.type }}</h6>
                      <div class="chart-wrapper">
                        <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                      </div>
                    </div>
                  </div>
                <div class="col-sm-3">
                  <div class="callout callout-success">
                    <h6 class="text-muted">Category</h6>
                    <br>
                    <h6>{{ record.category }}</h6>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="callout callout-success">
                    <h6 class="text-muted">Class</h6>
                    <br>
                    <h6>{{ record.classification }}</h6>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
              </div>

          <div class="row">
            <div class="col-sm-12">
              <!-- <div class="card-body"> -->
              <div class="callout callout-success">
                <h6 class="text-muted">Description</h6>
                <br>
                <h6 [innerHTML]="record.description"></h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="callout callout-success">
                <h6 class="text-muted">Souce</h6>
                <br>
                <h6>{{ record.source }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="callout callout-success">
                <h6 class="text-muted">Use</h6>
                <br>
                <h6>{{ record.use }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-sm-6">
                <div class="callout callout-success">
                  <h6 class="text-muted">Deficiency</h6>
                  <br>
                  <h6>{{ record.deficiency }}</h6>
                  <div class="chart-wrapper">
                    <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="callout callout-success">
                  <h6 class="text-muted">Excess</h6>
                  <br>
                  <h6>{{ record.excess }}</h6>
                  <div class="chart-wrapper">
                    <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                  <div class="callout callout-success">
                    <h6 class="text-muted">EAR</h6>
                    <br>
                    <h6>{{ record.ear }} {{ record.ear ? record.unit : "" }}</h6>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="callout callout-success">
                      <h6 class="text-muted">RDA Male</h6>
                      <br>
                      <h6>{{ record.rda_male }} {{ record.rda_male ? record.unit : "" }}</h6>
                      <div class="chart-wrapper">
                        <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="callout callout-success">
                      <h6 class="text-muted">RDA Female</h6>
                      <br>
                      <h6>{{ record.rda_female }} {{ record.rda_female ? record.unit : "" }}</h6>
                      <div class="chart-wrapper">
                        <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="callout callout-success">
                      <h6 class="text-muted">Limit</h6>
                      <br>
                      <h6>{{ record.limit }} {{ record.limit ? record.unit : "" }}</h6>
                      <div class="chart-wrapper">
                        <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6">
                    <div class="callout callout-success">
                      <h6 class="text-muted">Image</h6>
                      <br>
                      <h6>{{ record.image }}</h6>
                      <div class="chart-wrapper">
                        <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="callout callout-success">
                      <h6 class="text-muted">Foods</h6>
                      <br>
                      <div *ngIf="record.foods">
                          <table *ngIf="record.foods.length > 0">
                              <thead>
                              <th>#</th>
                              <th>Name</th>
                              </thead>
                              <tbody>
                              <tr *ngFor="let food of record.foods">
                              <td>{{ food.id }}</td>
                              <td>{{ food.name }}</td>
                              </tr>
                              </tbody>
                              </table>
                      </div>
                      <div class="chart-wrapper">
                        <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

</div>



