<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{ record.username + ' | ' + record.type }}
          <div class="pull-right">
            <button class="btn btn-sm btn-pill btn-warning" (click)="goToEdit(record)"> <i class="fa fa-edit"></i></button>
            &nbsp; <button class="btn btn-sm btn-pill btn-info" (click)="goBack()"><i class="fa fa-windows"></i></button>
          </div>
        </div>
        <div class="container">
          <div class="row">

            <div class="col-sm-4">
              <!-- <div class="card-body"> -->
              <div class="callout callout-success">
                <h6 class="text-muted">Email</h6>
                <br>
                <h6>{{ record.email || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <!-- <div class="card-body"> -->
              <div class="callout callout-success">
                <h6 class="text-muted">Phone</h6>
                <br>
                <h6>{{ record.phone || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <!-- <div class="card-body"> -->
              <div class="callout callout-success">
                <h6 class="text-muted">Email</h6>
                <br>
                <h6>{{ record.email || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Address</h6>
                <br>
                <h6>{{ record.address + ' ' + record.country_iso2 || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Gender</h6>
                <br>
                <h6>{{ record.gender || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Lifestyle</h6>
                <br>
                <h6>{{ record.lifestyle || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Activity Logs</h6>
                <br>
                <h6>{{ record.logs ? record.logs.length : '0' || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Notifications</h6>
                <br>
                <h6>{{ record.notifications ? record.notifications.length : '0' || '' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Profile Complete</h6>
                <br>
                <h6>{{ record.is_complete ? 'YES' : 'NO' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Original Mass</h6>
                <br>
                <h6>{{ record.original_mass }</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Current Mass</h6>
                <br>
                <h6>{{ record.current_mass }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Desired Mass</h6>
                <br>
                <h6>{{ record.desired_mass }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Complete Profile?</h6>
                <br>
                <h6>{{ record.is_complete ? 'YES' : 'NO' }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Created At</h6>
                <br>
                <h6>{{ record.created_at | date }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="callout callout-success">
                <h6 class="text-muted">Last Updated</h6>
                <br>
                <h6>{{ record.updated_at | date }}</h6>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

</div>



