<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-teal">
          <strong>{{ page || "Add Record" }}</strong>
          <div class="pull-right">
            <button class="btn btn-sm btn-pill btn-info" (click)="goBack()"><i class="fa fa-windows"></i></button>
          </div>
        </div>
        <div class="card-body">
          
          <div class="row">
            <div *ngIf="error">
                {{ error.message }}
              </div>
              <div *ngIf="uploadResponse.status === 'error'">
                {{ uploadResponse.message }}
              </div>
              <div *ngIf="uploadResponse.status === 'progress'">
                <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  {{uploadResponse.message}}%
                </div>
            
              </div>
            </div>

        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          
            <div class="animated fadeIn">

              <div class="row justify-content-center">
                <div class="col-sm-10 text-center">
              <div class="card">
                <div class="card-header bg-info">
                  <strong>Image Form </strong>
                </div>

                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Image name" required>
                    </div>
                    <div class="form-group col-sm-6">
                      <input type="file" class="form-control" name="image" id="image" (change)="onFileChanged($event)" required>
                    </div>
                  </div>

                   <div class="row">
                      <div class="form-group col-sm-12  text-center">
                      <button class="btn btn-danger" (click)="reset()">Reset</button>   
                      &nbsp; <button class="btn btn-primary" type="submit">Upload</button>
                      </div>
                    </div>
                
                </div>

              </div> <!-- card-->           
            </div>
            <!--/.row-12-->

          </div>

      </div>
      </form>

    </div>
  </div>
  </div>
</div>
</div>

